<!--
  Generated template for the PostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  

	<ion-list>
        

       <div ion-item *ngFor="let post of posts" >
            <ion-thumbnail item-start (click)="openReadPage(post)">
              <img src="{{post.thumbnail_image_src}}">
            </ion-thumbnail>
            <ion-label color="primary" text-wrap>
              <h4 class="post-title"  [innerHTML]="post.post_title" (click)="openReadPage(post)"></h4>
              <p class="post-subtitle">{{post.author_display_name}}</p>
              <div class="post-category" *ngFor="let category of post.post_categories_details" (click)="getCategoryPosts(category)"> *{{category.name}}  &nbsp;</div>
              
              <!-- <p [innerHTML]="post.content | slice:0:200"> </p> -->
            </ion-label>
        </div>

        
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
       <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="আরো পড়ুন..." *ngIf="pagingEnabled">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-label *ngIf="!pagingEnabled" > <p align="center">আর কোনো লেখা নেই।</p> </ion-label>

</ion-content>
