page-posts {

.post-title {   
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    top:5px;
  }


  .post-subtitle {
    font-size: .75em;
    width: 100%;
    font-weight: bold;
  }
  .post-category {
    font-size: .60em;
    width: 100%;
    font-weight: bold;
  }
  

}
