page-read {
	
    .lg-text{
    	p{
		    font-size: 1.3em;
        	text-align:justify;
		  }
		  div{
		    font-size: 1.3em;
        	text-align:justify;
		  }
        
    }


  .card-title {   
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #FB6542;
    text-align:center;
  }

  .card-subtitle {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    color: #375E97;
    margin-bottom:1em;
    text-align:center;
  }

}
