<common-side-menu></common-side-menu>

<ion-header class="shrinkable">
<common-header></common-header>
<ion-toolbar >
    <ion-segment mode="md" scrollable="true" [(ngModel)]="topTab"  value="home">
      <ion-segment-button value="home"  (click)="showHome()">
        হোম 
      </ion-segment-button>
      <ion-segment-button value="chotogolpo"  (click)="listPosts('chotogolpo')">
        ছোট গল্প
      </ion-segment-button>
      <ion-segment-button value="bises-rochona" (click)="listPosts('bises-rochona')">
        বিশেষ রচনা
      </ion-segment-button> 
      <ion-segment-button value="dharabahik-rachona" (click)="listPosts('dharabahik-rachona')">
        ধারাবাহিক
      </ion-segment-button>
      <ion-segment-button value="rahoshyo-golpo" (click)="listPosts('rahoshyo-golpo')">
        রহস্য গল্প
      </ion-segment-button> 
      <ion-segment-button value="bhuter-golpo" (click)="listPosts('bhuter-golpo')">
        ভুতের গল্প
      </ion-segment-button>
      <ion-segment-button value="kobita" (click)="listPosts('kobita')">
        কবিতা
      </ion-segment-button>
      <ion-segment-button value="onugolpo"  (click)="listPosts('onugolpo')">
        অনুগল্প
      </ion-segment-button>             
      <ion-segment-button value="itihaser-patai" (click)="listPosts('itihaser-patai')">
        ঐতিহাসিক 
      </ion-segment-button>   
      
        
    </ion-segment>
  </ion-toolbar>
</ion-header>




<ion-content no-padding>
    <div class="backPurple"></div>
    <div>
    <div class="div-row"  *ngIf="homeEnabled">
      
      <h4 class="section-title">নতুন প্রকাশিত</h4>
      <div class="div-slides" >  
      <ion-slides color="light-dark" pager="false" slidesPerView="2.6"  padding-start>
        <ion-slide  *ngFor="let post of latest_posts" (click)="openReadPage(post)">
          <ion-card class="product" >
            <div class="image" routerLink="/product-card" routerDirection="forward">
              <img class="tam-image" src="{{post.thumbnail_image_src}}">
            </div>
              
                <ion-label >
                  <h4 class="tam-title"  [innerHTML]="post.post_title"></h4>
              <p class="tam-author">{{post.author_display_name}}</p>
                </ion-label>
              
              
              
            </ion-card>
          </ion-slide>
        </ion-slides>

        <ion-slides *ngIf="!dataLoaded" color="light-dark"  slidesPerView="2.6"  padding-start>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  
  
  
  
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">ফ্যাশন </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of fashion_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
      <ion-slides *ngIf="!dataLoaded" color="light-dark"  slidesPerView="2.6"  padding-start>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
        </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">পাঠকদের পছন্দের</h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.2" >
        <ion-slide *ngFor="let post of popular_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <p class="tam-title" text-wrap  [innerHTML]="post.post_title"></p>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
      <ion-slides *ngIf="!dataLoaded" color="light-dark"  slidesPerView="2.6"  padding-start>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
          <ion-slide>
            <ion-card class="product" >
              <div class="image" >
                <img class="tam-image" src="../../assets/icon.png">
              </div> 
            </ion-card>            
          </ion-slide>
        </ion-slides>
    </div>
  </div>

  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">লাইফস্টাইল </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of life_style_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image"src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4><!-- 
              <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">ফিটনেস গাইড  </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of fitness_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image"src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title"  text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">শাব্দিকের লেখক-লেখিকারা   </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="4.5" >
        <ion-slide *ngFor="let author of authors">
          
                       
          <ion-label>
            <div *ngIf="author.photo['96']"  (click)="openAuthorPage(author)">
              <img class="tam-image" src="{{author.photo['96']}}" />
            </div>
            <div *ngIf="!author.photo['96']"  (click)="openAuthorPage(author)">
              <img class="tam-image" src="../../assets/imgs/default-avatar.png" />  
            </div>
              <p class="tam-author" text-wrap  >{{author.name}}</p>
          </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">ভ্রমণ </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of bhraman_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">খেলার দুনিয়া  </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of khalar_dunia_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">পুরানের গল্প  </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of puran_katha_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">বিশিষ্টদের গল্প  </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of jibon_kahini_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">হেঁসেলের এর কথা </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of heseler_katha_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
    
  
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">মনের কথা  </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of moner_katha_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  
  <div class="div-row"  *ngIf="homeEnabled">
    <h4 class="section-title">অনুপ্রেরণা </h4>
    <div class="div-slides">
      <ion-slides   pager="false" slidesPerView="2.6" >
        <ion-slide *ngFor="let post of inspiration_posts" (click)="openReadPage(post)">
          
                       
              <ion-label>
              <img class="tam-image" src="{{post.thumbnail_image_src}}" />  
              <h4 class="tam-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <!-- <p class="tam-author">{{post.author_display_name}}</p> -->
              </ion-label>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  

  <div class="div-lists"  *ngIf="!homeEnabled">
      <ion-list >
        

        <button ion-item *ngFor="let post of posts" (click)="openReadPage(post)">
            <ion-thumbnail item-start>
              <img class="tam-image" src="{{post.thumbnail_image_src}}">
            </ion-thumbnail>
            <ion-label text-wrap>
              <h4 class="post-title" text-wrap  [innerHTML]="post.post_title"></h4>
              <p class="post-subtitle">{{post.author_display_name}}</p>
              <p class="post-category">{{post.categories_names}}</p>
              <!-- <p [innerHTML]="post.content | slice:0:200"> </p> -->
            </ion-label>
        </button>

        
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="আরো পড়ুন..." *ngIf="pagingEnabled">
        </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      <ion-label *ngIf="!pagingEnabled" > 
        <p align="center">আর কোনো লেখা নেই।</p> 
      </ion-label>

  </div>  
</div>
</ion-content>

   
