page-search {

.post-title {   
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #262228;
  }


  .post-subtitle {
    font-size: .75em;
    width: 100%;
    font-weight: bold;
    color: #0375B4;
  }
  .post-category {
    font-size: .60em;
    width: 100%;
    font-weight: bold;
    color: #007849;
  }

}
